* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

/* header */


header {
  height: 100vh;
  background-image: linear-gradient(rgba(3, 4, 7, 0.9), rgba(5, 10, 30, 0.9)),
    url("https://images5.alphacoders.com/423/423176.jpg");
  background-size: cover;
  background-position: center;
}

.header-brand,
nav ul li a {
  text-decoration: none;
}

.header-brand,
.header-text ,
nav ul li a
{
  color: white;
  font-weight: 700;
}

.header-brand {
  /* font-size: 2.2vh; */
  font-size: 30px;
}

.header-brand span,
h1 span {
  color: rgb(0, 196, 0);
}

nav,
.header-text {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 1vh 1vw;
  background-image: linear-gradient(rgba(3, 4, 7, 0.6), rgba(5, 10, 30, 0.6));
}

nav ul li {
  display: inline-block;
  margin: 0 0.5vw;
}

nav ul li a {
  /* font-size: 1.8vh; */
  font-size: 20px;
}

.header-text {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header-text h1 {
  text-align: center;
  /* font-size: 4vh; */
    font-size: 9vh;
  line-height: 80px;
}

.header-text h2 {
    font-size: 40px;
}

@media only screen and (max-width: 912px) {
  .header-text h1 {
      font-size: 7vw;
    }
}
/* about section */
.about, .contact {
  background-color: #242323;
  color: white;
  text-align: center;
  padding: 70px 0;
}

.h2-header {
  text-align: center;
    font-size: 50px;
}

.about-text {
  margin: auto;
  width: 50%;
}

h3 {
  font-weight: 700;
  font-size: 30px;
}

.about-text p {
    padding-top: 2rem;
    line-height: 1.8rem;
}

.about-skills, .contact-container {
    display: flex;
    flex-wrap: wrap;
}

.about-skills-container-1, .about-skills-container-2 {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 0 auto;
    padding-top: 3rem;
}

.education, .experience, .skills {
    width: 80%;
    margin: 0 auto;
    padding-top: 3rem;
}
.education h3, .experience h3, .skills h3 {
  padding-bottom: 1rem;
}

.about-skills-h3-1 {
    border-bottom: 3px solid #20E700;
}
/* projects section */

.projects {
  color: #362D2D;
  padding: 70px 0;
} 

.projects-container {
  display: flex;
  flex-wrap: wrap;
}

.projects-card {
  width: 500px;
  margin: auto;
  padding-top: 3rem;
}

.projects-img {
  width: 100%;
}

/* contact section */

form {
  display: flex;
  flex-direction: column;
}


.contact-wrap {
  background-color: aqua;
  margin: auto;
  width: 70%;
  padding: 6%;
}

.contact-name {
width: 50%;
text-align: left;
}

.contact-email {
  width: 50%;
  text-align: left;
}
.contact-container-2 {
  text-align: left;
}

input {
  width: 100%;
}

textarea {
  min-height: 15vh;
  width: 100%;
}

.contact-container-1 {
  display: flex;
}
/* footer section */
